<nav class="navbar navbar-expand-md navbar-dark bg-dark gnav">
  <a class="navbar-brand" href="#">BBS@dist</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <span class="navbar-brand">
        You logging in
        <%= username %>
      </span>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>