<% var errors = locals.errors || {}; %>

<% if (locals.errors) { %>
<div class="alert alert-danger mt-5 mb-5">
  <% for (var key in errors ){ %>
  <div>
    <i class="fa fa-exclamation-circle fa-fw mr-2"></i>
    <%= errors[key] %>
  </div>
  <% } %>
</div>
<% } %>

<form method="POST" action="/home/post">
  <div class="form-group row">
    <div class="col-sm-10">
      <input type="text" class="form-control" id="content" name="content" placeholder="テキストを入力してください。" />
    </div>
    <div class="col-sm-1">
      <input type="submit" class="btn btn-primary" value="投稿" />
    </div>
  </div>
</form>