<form method="POST" action="/home/post">
  <div class="form-group row">
    <div class="col-sm-10">
      <input type="text" class="form-control" id="content" name="content" placeholder="テキストを入力してください。" />
    </div>
    <div class="col-sm-1">
      <input type="submit" class="btn btn-primary" value="投稿" />
    </div>
  </div>
</form>